<div class="container my-5">
  <div class="row p-5 card-detail shadow-lg">
    <div class="col-sm-4 my-auto">
      <img src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}" class="card-img" alt="...">
    </div>    
    <div class="col-sm-8">      
      <div class="title-movie py-3"> 
        <span>
          <h1>{{movie.title}}
            <span>{{getDate(movie.release_date)}}</span>
          </h1>
        </span>
        
        <h4 class="my-3">Score <span class="user-score">{{movie.vote_average}}</span></h4> 
        <p class="card-text"><small >{{movie.runtime}} min</small></p>
      </div>
      <div>
        <h4>Overview</h4>
        <p >{{movie.overview}}</p></div>
        <h4>Genres</h4>
        <ul>
          <li *ngFor="let genre of genresList">{{genre.name}}</li>
        </ul>
    </div>  
  </div>
</div>