.card
    width: 18rem
    min-height: 100%

.card-body
    text-align: center

.row
    display: -webkit-box
    display: flex
    flex-wrap: wrap
    margin-right: auto !important
    margin-left: auto !important
    justify-content: center