<div id="search-component" class="shadow-sm bg-white rounded search input-group">
    <input #searchBox id="search-box" (input)="searchMoviesByName(searchBox.value)" (click)="searchBox.value = null"
    class="form-control mr-sm-2" type="text" placeholder="Search..." aria-label="Search"/>


    <ul class="search-result" [hidden]="searchBox.value === ''">
        <li *ngFor="let movie of movies">
          <a routerLink="/movie/{{movie.id}}" (click)="searchBox.click()">
            {{movie.title}}
          </a>
        </li>
    </ul>

</div>
