<div id="search-component" class="shadow-sm search input-group">
    <input #searchBox autocomplete="off" id="search-box" (input)="searchMoviesByName(searchBox.value)" (click)="searchBox.value = null"
    class="form-control mr-sm-2" type="text" placeholder="Search..." aria-label="Search"/>


    <ul class="search-result" [hidden]="searchBox.value === ''">
        <li *ngFor="let movie of movies">
            <a routerLink="/movie/{{movie.id}}" (click)="searchBox.click()">
              <img src="http://image.tmdb.org/t/p/w92/{{movie.poster_path}}" class="card-img" alt="...">
              <div>{{movie.title}}
                <p class="date">{{getDate(movie.release_date)}}</p>
              </div>
            </a>
        </li>
    </ul>

</div>
