.search-result li
  padding: 5px 12px
  background-color: #e8f0fef5
  cursor: pointer
  list-style-type: none
  font-weight: 600
  &:hover
    background-color: #06081791
    a
      color: white
  a
    color: #474b7a
    display: block
    text-decoration: none

    &:hover, &:active
      color: white

#search-box
  width: 100%
  height: 40px
  border: none

ul.search-result
  margin-top: 0
  padding-left: 0
  position: absolute
  width: max-content

.search
    display: inline
    z-index: 99