.search-result li
  padding: 5px 12px
  background-color: #fffffff0
  cursor: pointer
  list-style-type: none
  font-weight: 600
  &:hover
    background-color: #474b7a70
    color: white

  a
    color: #474b7a
    display: block
    text-decoration: none

    &:hover, &:active
      color: white

#search-box
  width: 100%
  height: 40px
  border: none

ul.search-result
  margin-top: 0
  padding-left: 0

.search
    display: inline
    position: absolute
    z-index: 99